body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 30px 0;
}

nav {
    background: #222;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.content {
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.card:hover {
    background: #e6f2ff;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
  }
