body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #a8c0ff, #fbc2eb);
}

header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #87CEEB, #FF9A9E);
    color: black;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.column {
    width: 40%;
}

.card {
    display: block;
    margin-bottom: 25px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
